#author {
    background: #000;
    padding-block: 2rem;

}

#author .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

#author p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

#author p.ocult {
    color: #8f8e8e;
    font-size: 1.2rem;
}

#author p img {
    width: 13rem;
    margin-left: .2rem;
}

#author a {
    text-decoration: none !important;
    transition: all 300ms ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

#author a:hover {
    filter: brightness(1.4);
}

#author a p {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.6rem;

    margin-top: 1rem;
}

@media (min-width: 1080px) {
    #author {
        padding-bottom: 2rem;
    }
    #author .content {
        flex-direction: row;
        justify-content: space-between;
    }

    #author a p {
        margin-top: 0;
        font-size: 1.2rem;
    }
}