/* From Uiverse.io by adeladel522 */ 
a {
    text-decoration: none;
    width: 100%;
}

.button {
    width: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 2rem;
    padding-inline: 2rem;
    background: var(--gradient);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffffff;
    gap: 10px;
    outline: none;
    overflow: hidden;
    text-transform: uppercase;

    font-family: var(--tts);
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    background: var(--gradient);
    border: none;

    filter: drop-shadow(0 0 20px #ffb7002d);
    transition: all 300ms ease-in-out;
  }

  .button:hover {
    filter: drop-shadow(0 0 40px #ffb70045);
  }
  
  .button .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover,
  #rd-button-m5in9w3x.rd-button:hover {
    transform: scale(1.05);
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before,
  #rd-button-m5in9w3x.rd-button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before,
  #rd-button-m5in9w3x.rd-button::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.297),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
    animation: shine 2s ease-out infinite;

  }

  @media (min-width: 1080px) {
    a {
      width: initial;
    }
    button.button {
        width: initial;
        padding: 2.5rem 3rem;
        font-size: 1.5rem;
    }

    section#cadastro #rd-button-m5in9w3x.rd-button {
      padding: 2rem 4.5rem;
        font-size: 22px;
    }

    header#home a button img {
      margin-top: -.25rem;
    }
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  