* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
}

:root {
    font-size: 62.5%;

    --color-text: #ffffff;
    --primary-color: #DE6D24;
    --secondary-color: #ffffff;
    --gradient: linear-gradient(45deg, #DE6D24, #ff9c11);
    --bg-green: #ffffff;
    --bg: #0F0F19; 

    --nav-height: 7.2rem;
}  

html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    text-align: center;

  }

  body {
    background: var(--bg);
    overflow-x: hidden;
  }

  ul {
    list-style: none;
  }

  ::selection {
  color: #000000;
  background: #d8d8d8;
}

 section {
    padding-block: 5rem;
  }

  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }

  @media (min-width: 1080px) {
    .wrapper {
      width: min(100rem, 100%);
    }

    section {
      padding-block: 8rem;
    }
  }

  @media (min-width: 1200px) {
    .wrapper {
      width: min(110rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    .wrapper {
      width: min(120rem, 100%);
    }

    :root {
      font-size: 65%;
    }
  }

  @media (min-width: 1700px) {
    .wrapper {
      width: min(140rem, 100%);
    }
  }
  
 

  /*====  scrollbar ============================ */
::-webkit-scrollbar {
  width: .6rem;
  background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  width: .6rem;
  background: var(--secondary-color);
  border-radius: 1rem;
}

  /* buttonWhatsapp =================== */
#buttonWhatsapp {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
  
    opacity: 0;
    visibility: hidden;
  
    transform: translateY(100%);
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp.show {
    opacity: 1;
    visibility: visible;
  
    transform: translateY(0);
  }
  
  #buttonWhatsapp img {
    width: 6rem;
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp svg:hover {
    transform: scale(1.1);
  }

.divider.cinza   {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10;
}

.divider.cinza svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 44px;
}

.divider.cinza .shape-fill {
    fill: #0C0C0C;
}

.divider.preto {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10;
}

.divider.preto svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 44px;
}

.divider.preto .shape-fill {
   fill: #000000;
}
