header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 3rem;
}

header h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    color: #ffffff;

  font-weight: 600;
}

header h2 span {
    font-weight: 700;
    color: var(--amarelo);

    text-shadow: 0 0 18px #de6e244c;
}

header p {
    color: #a7a7a7;
    font-size: 1.4rem;
    margin-top: 1rem;
}

header p span {
    color: #c9c9c9;
    font-weight: 600;
}

@media (min-width: 1080px) {
    header {
        margin-bottom: 4rem;
    }

    .wrapper .content header h2 {
        font-size: 3rem;
    }

    header h2 span {
        text-shadow: 0 0 18px #de6e2483;
    }

    header p {
        font-size: 1.6rem;
    }

    header span.span {
        font-size: 1.4rem;
        letter-spacing: 12px;
    }
}