@import './global.css';
@import './home.css';
@import './button.css';
@import './head.css';
@import './author.css';
@import './sectionVideo.css';
@import './sectionMetodo.css';
@import './sectionIncluido.css';
@import './sectionComportamentos.css';
@import './sectionPlano.css';
@import './sectionSobre.css';
@import './sectionPilares.css';
@import './sectionDiferentes.css';
@import './sectionAulas.css';
@import './sectionCheckout.css';
@import './sectionMockups.css';
@import './sectionCarrossel.css';
@import './sectionFaq.css';
@import './slide.css';

