#aulas {
    position: relative;
    overflow: hidden;
    background: #000;
    padding-bottom: 8rem;
}

#aulas .cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: center;
}

#aulas .card {
    width: 100%;
    padding: 3rem;
    border-radius: 1rem;

    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    overflow: hidden;
    position: relative;

    border-left: 2px solid #fff;
}

#aulas .card img.bgCard {
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: 0;
}

#aulas .card h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

#aulas .card h3 span {
    color: var(--primary-color);
}

#aulas .card img {
    width: 7rem;
    position: relative;
    opacity: .7;
}

#aulas .card img.icon {
    filter: drop-shadow(0 0 8px #ffffffb9);
}

#aulas .card p {
    color: #b7b7b7;
    font-size: 1.7rem;
    position: relative;
    font-weight: 400;

    margin-top: .5rem;
    font-family: var(--goodtimes);
}

#aulas .card p span {
    font-weight: 600;
}

#aulas .card h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #a6a6a6;
    background: #ffffff23;
    padding: 1rem;
    border-radius: .5rem;
    margin-top: 1rem;
    width: max-content;
    text-transform: uppercase;
}

#aulas a button {
    margin-top: 3rem;
}

@media (min-width: 1080px) {
    section#aulas {
    }

    section#aulas .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    section#aulas .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    section#aulas .card {
        height: 100%;
        padding: 5rem;

        border-left: 0;

        position: relative;
        overflow: inherit;
    }

    section#aulas .card img.bgCard {
        inset: 0;
    }

    section#aulas .card::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 85%;
        top: 0;
        bottom: 0;
        background: #ffffff;
        left: -1rem;
    }

    section#aulas .card:nth-child(1):before,
    section#aulas .card:nth-child(4):before {
        display: none;
    }

    section#aulas .card p {
        font-size: 2.3rem;
    }

    section#aulas header.dois {
        margin-top: 4rem;
        padding-inline: 15%;
    }
}
