#pilares {
    overflow: hidden;
    position: relative;
    background: #000;

    padding-bottom: 8rem;
}

#pilares header {
    margin-bottom: 5rem;
}

#pilares .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#pilares .cards .card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#pilares .cards .card {
    width: 100%;
    position: relative;
}

#pilares .cards .card .number {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    padding-inline: 2rem;

    position: absolute;
    right: 0;
    top: -20%;
    right: -15%;
}

#pilares .cards .card:nth-child(1) .number {
    right: -10%;
}

#pilares .cards .card .number h4 {
    font-family: var(--goodtimes);
    color: #000000;
    font-size: 10rem;

    opacity: .5;
    background: linear-gradient(45deg, transparent 30%, #DE6D24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pilares .cards .card .text {
    text-align: left;
    background: #0d0d0d;
    padding: 4rem;
    border-radius: 1rem;
}

#pilares .cards .card .text h5 {
    background: var(--gradient);
    font-size: 1.1rem;
    color: #000;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: .5rem 2rem;
    width: max-content;
}

#pilares .cards .card .text h3 {
    font-family: var(--goodtimes);
    color: #Fff;
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

#pilares .cards .card .text p {
    font-size: 1.2rem;
    color: #bababa;
}

#pilares .cards .card .text p span {
    font-weight: 600;
    color: #e8e8e8;
}

#pilares img.arrow {
    display: none;
}

@media (min-width: 1080px) {
    section#pilares {
        padding-bottom: 10rem;
    }

    section#pilares .cards .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
        gap: 2rem;

        min-height: 20rem;
    }

    section#pilares .cards .card {
        width: 120%;
        margin-left: -20%;
    }

    section#pilares .cards .card:nth-child(2) {
        margin-left: 0;
        margin-right: -20%;
    }

    section#pilares .cards .card .number {
        position: initial;
        align-items: end;
        padding-inline: 7rem;
        border-radius: 2rem;
        background: linear-gradient(to right, #000000, #DE6D24);

            box-shadow: 10px 0px 40px 0px #de6e2468;

    }

    section#pilares .cards .card:nth-child(2) .number {
        grid-area: b;
        align-items: start;
        background: linear-gradient(to left, #000000, #DE6D24);

            box-shadow: -10px 0px 40px 0px #de6e2468;
    }

    section#pilares .cards .card .number h4 {
        font-size: 15rem;

        opacity: .6;
        background: linear-gradient(to bottom, #0000005f 30%, #81421831);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    section#pilares .cards .card .text {
        text-align: left;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        background: #0d0d0d;
        padding: 4rem;
        border-radius: 2rem;
    }

    section#pilares .cards .card .text h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    section#pilares .cards .card .text p {
        font-size: 1.5rem;
    }

    section#pilares img.arrow {
        display: inherit;
        position: absolute;
        width: 5%;

        mask-image: linear-gradient(to bottom, transparent, #000);
    }

    section#pilares img.arrow.left {
        top: -9%;
        left: -5%;
    }

    section#pilares img.arrow.right {
        top: -9%;
        right: -5%;
    }
}