#comportamentos {
    overflow: hidden;
    position: relative;
    background: #fff;

    padding-top: 30%;
    padding-bottom: 40%;
}

#comportamentos header img {
    position: absolute;
    width: 110%;
    top: 5%;
    left: -8%;
    right: 0;
}

#comportamentos header img.desktop {
    display: none;
}

#comportamentos .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#comportamentos .cards .card img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

#comportamentos a button {
    margin-top: 3rem;
}

#comportamentos img.cachorro {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 1080px) {
    section#comportamentos {
        padding-top: 15%;
        padding-bottom: 8rem;
    }

    section#comportamentos .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section#comportamentos header img.desktop {
        display: inherit;
        width: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        top: 8%;
    }

    section#comportamentos header img.mobile {
        display: none;
    }

    section#comportamentos .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    section#comportamentos img.cachorro {
        display: none;
    }

    section#comportamentos a button {
        margin-top: 6rem;
    }
}