#diferentes {
    position: relative;
    overflow: hidden;
    padding-bottom: 8rem;
}

#diferentes .content {
    position: relative;
    z-index: 2;
}

#diferentes img.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
    opacity: 1;
}

#diferentes .cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: center;
}

#diferentes .card {
    width: 100%;
    padding: 1rem;
    padding-right: 4rem;
    border-radius: 1rem;

    text-align: left;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;

    overflow: hidden;
    position: relative;

    background: linear-gradient(45deg, #000000, #000000);
}

#diferentes .card img.bgCard {
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: 0;
    opacity: .1;
}

#diferentes .card img {
    position: relative;
}

#diferentes .card img.icon {
    width: 6rem;
    filter: drop-shadow(0 0 8px #DE6D24);
}

#diferentes .card p {
    color: #e5e5e5;
    font-size: 1.6rem;
    position: relative;
    font-weight: 500;
}

#diferentes .card p span {
    font-weight: 600;
}

#diferentes .card p span.small {
    font-size: 1rem;
    font-weight: 300;
}

#diferentes button {
    margin-top: 5rem;
}

#diferentes header.dois {
    margin-top: 3rem;
    margin-bottom: 0;
}

@media (min-width: 1080px) {
    section#diferentes {
    }

    section#diferentes .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    section#diferentes .cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section#diferentes .card {
        height: 100%;
        padding: 1rem;
    }

    section#diferentes .card p {
        font-size: 1.6rem;
    }

    section#diferentes .card:nth-child(2) p {
        font-size: 1.2rem;
    }

    section#diferentes header.dois {
        margin-top: 4rem;
        padding-inline: 15%;
    }
}
