#metodo {
    overflow: hidden;
    position: relative;
}

#metodo img.logo {
    width: 25rem;
}

#metodo img.tres {
    width: 15rem;
    margin-top: 5rem;
}

#metodo img.patinha {
    position: absolute;
    z-index: 5;
    top: 10%;
    right: -15%;
    width: 13rem;
}

#metodo .cards {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: center;
    gap: 2rem;

    margin-top: 5rem;
}

#metodo .cards .card {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    position: relative;
}

#metodo .cards .card::before {
    content: '';
    position: absolute;
    left: 10%;
    top: 35%;
    width: 40%;
    height: 2px;
    background: var(--primary-color);
    z-index: -1;
}

#metodo .cards .card img {
    width: 9rem;
}

#metodo .cards .card h3 {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 2px;
}

#metodo .cards .card p {
    font-size: 1.1rem;
    color: #ffffff92;
    font-weight: 300;

    margin-top: 1.5rem;
}

#metodo header {
    margin-top: 5rem;
}

#metodo header h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    width: 70%;
}

#metodo svg.linha{
  position: absolute;
  z-index: -1;
  left: -1.5%;
  top: 32%;
  width: 20%;
  height: auto;
  pointer-events: none;
}

#metodo svg.linha.dois{
  display: none;
}

/* dashed (visual) */
#metodo svg.linha .linha-path{
  fill: none;
  stroke: #DE6D24;
  stroke-width: 2;
  stroke-dasharray: 3 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}


@media (min-width: 1080px) {
    section#metodo .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding-inline: 13%;
    }

    section#metodo .content .box {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    section#metodo .head {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    section#metodo img.tres {
        width: 60%;
        margin-top: 0;
    }

    section#metodo .cards {
        margin-top: 0;
    }

    section#metodo img.logo {
        width: 20rem;
        object-fit: cover;
    }

    section#metodo .cards .card p {
        font-size: 1.5rem;
    }

    /* seu fade por mask-image (opcional) */
  section#metodo svg.linha{
    width: 20%;
    -webkit-mask-image: linear-gradient(to bottom, #fff, transparent 30%);
            mask-image: linear-gradient(to bottom, #fff, transparent 30%);
  }

  section#metodo svg.linha.dois{
    display: block;
    transform: scaleX(-1);
    transform-origin: center;
    left: initial;
    right: 0;
  }

    section#metodo header h2 {
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-size: 1.8rem;
        width: 100%;
    }
}