#checkout {
    overflow: hidden;
    position: relative;

    padding-bottom: 8rem;
}

#checkout .content {
    position: relative;
    z-index: 2;
}

#checkout img.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
    opacity: 1;
}

#checkout img.logo {
    width: 20rem;
    margin-bottom: 2rem;

    display: none;
}

#checkout .border {
    background: linear-gradient(to bottom, #FF8721, transparent);
    width: 100%;
    padding: 1px;

    border-radius: 20px;
}

#checkout .checkout {
    background: linear-gradient(45deg, #000, #0e0e0e);
    border-radius: 20px;

    padding: 3rem;
}

#checkout .checkout img.capa {
    width: 100%;
    border-radius: 15px;
}

#checkout .checkout .price {
    margin-top: 2rem;
}

#checkout .checkout .price p {
    background: #ffffff0f;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

#checkout .checkout .price h3 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

#checkout .checkout .price h3 span {
    text-decoration: line-through;
}

#checkout .checkout .price h4 {
    font-size: 3.5rem;
    font-family: var(--goodtimes);
    font-weight: 700;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 0 18px #de6e244c;

    margin-block: .5rem;
}

#checkout .checkout .price h5 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
}

#checkout .checkout .price h5 span {
    font-weight: 600;
}

#checkout .checkout .price a button {
    margin-top: 2rem;
}

#checkout .checkout .topics h6 {
    color: #fff;
    font-size: 1.4rem;
    text-align: left;
    font-weight: 400;
    font-family: var(--goodtimes);

    margin-top: 3rem;
    margin-bottom: 2rem;
}

#checkout .checkout .topic {
    text-align: left;

    display: flex;
    align-items: center;
    gap: 1rem;

    margin-block: 1rem;

}

#checkout .checkout .topic ion-icon {
    color: var(--primary-color);
    font-size: .8rem;
}

#checkout .checkout .topic p {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
}

#checkout .checkout .topic p span {
    font-weight: 600;
}

@media (min-width: 1080px) {
    section#checkout {
        padding-block: 8rem;
    }

    section#checkout .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    section#checkout .checkout {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 3rem;
        padding: 3rem;
        background: #000;
    }

    section#checkout .checkout .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    section#checkout .checkout .box .price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 0;
        margin-bottom: 0;

        background: linear-gradient(45deg, #000, #0e0e0e);
        border-radius: 15px;
    }

    section#checkout .checkout .box .topics {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 0;
        margin-bottom: 0;

        background: linear-gradient(-45deg, #000, #0e0e0e);
        border-radius: 15px;
    }

    section#checkout .checkout .price p {
        margin-bottom: 2rem;
        padding: 1rem 4rem;
    }

    section#checkout .checkout .price h3 {
        font-size: 2rem;
    }

    section#checkout .checkout .price h4 {
        font-size: 4rem;
    }

    section#checkout .checkout .price h5 {
        font-size: 2rem;
    }

    section#checkout .checkout .price a button {
        margin-top: 3rem;
    }
}
