@keyframes slide {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }

  #slide {
    padding-block: 0;
    position: relative;

    margin-top: -12%;
  }

  #slide .slide-content {
    overflow: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    max-width: 100%;    
  }

  
  #slide .slide {
    overflow: hidden !important;
    padding: 2rem 0;

    display: flex;
    white-space: nowrap;
  
    position: relative;
  }

  #slide .slide .slide-text {
    
  }

  
  #slide .slide-text {
    animation: slide 10s infinite linear;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  #slide .slide img {
    width: 60%;

  }


@media (min-width: 1080px) {  
    #slide {
        margin-top: -3rem;
    }  

  #slide .slide-content,
  #slide .slide-content.um,
  #slide .slide-content.dois {
    max-width: 100vw;
  }

  #slide .slide img {
    width: 25%;
  }

  section#slide .slide-text {
    animation: slide 50s infinite linear;
  }

}
